.footer {
  background-color: #161616;
  color: #FFFFFFb3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .section-1 {
  margin: 60px 0px;
  display: flex;
  align-items: center;
}

.footer .img-con {
  margin: 0px 40px;
}

.footer .section-2 {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.footer .section-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 70px;
}